extends ../partials/layoutSidebar.pug
prepend content
  #orderOption.hide
    #topOption
      button.optionBtn#viewOrderDetailBtn(href='/admin/takeOrder')  
        | Views Order Details
      button.optionBtn#changeStatusBtn(href='/admin/takeOrder')  
        | Change status
      #statusOption.optionClass.hide
        button.statusOptionBtn(href='#' action-id="Collected")  
          | Send Out
        button.statusOptionBtn(href='/admin/takeOrder' action-id="Paid")  
          | Paid
        button.statusOptionBtn(href='/admin/takeOrder' action-id="Cancel")  
          | Cancel
      button.optionBtn#returnBtn  
        | Return
       
block innerContent 
  // cards
  .cardBox
    .card
      div
        .numbers=NPO
        .cardName Processing Orders
      .iconBx
        ion-icon(name='eye-outline')
    .card
      div
        .numbers 112
        .cardName Pending Orders
      .iconBx
        ion-icon(name='ellipsis-horizontal-outline')
    .card
      div
        .numbers 25
        .cardName Sales
      .iconBx
        ion-icon(name='cart-outline')
    .card
      div
        .numbers 1,504
        .cardName Earning
      .iconBx
        ion-icon(name='cash-outline')
  // Processing Orders
  .details
    .recentOrders
      .cardHeader
        h2 Recent Orders
        a.btn(href='#') View All
      table.tableLink
        thead
          tr
            td Order Num
            td Collection Time
            td Total
            td Order Status
            td Payment Status
        each order in WO
          tbody.trOrderLink 
            tr(data-href = "/admin/home/order/"+order.id order_id=order.id collect_num=order.collectionNum)
              td=order.collectionNum
              if typeof order.collectionTime == "object"
                - var time = "WalkIn"
              else
                - var time = order.collectionTime.substring(0,5)
              td=time
              td=order.total
              if (order.status == '0')
                td Send In
              else if(order.status == '1')
                td Processing
              if (order.paymentStatus == '0')
                td Unpaid
              else if(order.paymentStatus == '1')
                td Paid
    // New Customers
    .recentCustomers
      .cardHeader
        h2 Recent Customers
      table
        thead
          tr
            td Orders Number
            td Date
        each order in TOH
          tbody.trOrderHistroy
            tr(data-href = "/admin/home/order/"+order.id order_id=order.id)
              td=order.collectionNum
              if (order.status == '1')
                td Done
              else if(order.status == '2')
                td Cancel
append script 
  script(src="/js/dashboard.js")
