extends ../partials/layoutSidebar.pug
block innerContent
  #orderDetail
    #order
      #orderHeader
        p Collection Num : #{order_trans.collectionNum}
        p Collection: #{order_trans.collectionTime.substring(0,5)}
      table
        thead
          tr
            td Product Name
            td Quantity
        for product in order_items
          tbody
            tr
              td=product.briefName
              td=product.quantity
      p Total : #{order.total}